<!DOCTYPE html>
<html>
<head>
  <title>Kognitivni agent - Jura o zamjenicama</title>
  {% include 'header.html' %}
  <script src="{{ url_for('static', filename='js/agent.js') }}"></script>
</head>
<body>
  <div id="paper">
    <center>
      <h1>Bizzar</h1>
    </center>

    <div id="notSupported" style="display:none">
      Sorry, Firefox is not supported. Please use Chrome, Edge, Opera, Safari or Samsung browser.
    </div>
  
  <div class="video-container">
    <video class="video" id="agent" preload="true">
      <source src="{{ url_for('static', filename='media/test.webm') }}"  type="video/mp4">
    </video>
  </div>

  <center><div id="output"> </div></center>
  <br />
  <center>
    <button class="button" id="record" style="display:none">Snimi pitanje!</button>
    <br />
    <select id="questions" onchange="question(this.value)">
      <option value="">Ask question</option>
<option>What are you good at?</option>
<option>What makes you stand out?</option>
<option>Are you strong?</option>
<option>What are your skills?</option>
<option>Is this the first mission you have been assigned to?</option>
<option>How did your last mission go?</option>
<option>What took place on your most recent mission?</option>
<option>What is in store for your next mission?</option>

</select>
  </center>
  <br />
  <div id="startupute">
    <center>
      <button class="button" id="start">Pokreni!</button>
      <br />
      <br />
      <br />
    </center>
  </div>
  
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <div id="upute">
    <p>Ovdje možeš pokrenuti kognitivnog agenta Juru koji priča o zamjenicama. Napravljen je u suradnji s učiteljicom Mirjanom Halusek, prof. i učenicima II. osnovne škole Varaždin koji su izradili crtež Jure i imenovali ga. Možeš mu postavljati pitanja o zamjenicama poput:
      <ol>
  <li>What are you good at?</li>
  <li>What makes you stand out?</li>
  <li>Are you strong?</li>
  <li>What are your skills?</li>
  <li>Is this the first mission you have been assigned to?</li>
  <li>How did your last mission go?</li>
  <li>What took place on your most recent mission?</li>
  <li>What is in store for your next mission?</li>
      </ol>
      
    </p>
  </div>
  
  

  <br />
  <br />
  <br />
  <br />
  <br />
  
  {% include 'footer.html' %}
</div>
</body>
</html>

