.modal .modal__content {
    background: url(../assets/ui/dialog.png);
    border-radius: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.modal__content input[type=text] {
    background: #d3b28bba !important;
    border: #3C1F14 solid;
    border-radius: 0px;
}

dialog-log .modal__content {
    background: #887441 !important;
}

dialog-log .modal__content [data-content=log] {
    background: url(../assets/ui/background.png) !important;
}

dialog-log .modal__content [data-content=log] [data-spoke]>p,
text-input [data-content=warning] {
    font-size: 1.5rem;
}

alert-modal p,
text-input [data-content=message] {
    font-size: 2rem;
}

dialog-log button,
.modal__content button {
    width: 12rem;
    height: 2.5rem;
    font-size: 1.5rem;
}

dialog-log .modal__content [data-content=log] [data-spoke]>span {
    font-size: 1.5rem;
    font-weight: bold;
}