/* /////////// */
/* /////////// */

[data-screen=help],
[data-screen=settings] {
    background-image: url("../assets/ui/help_screen.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

[data-screen=settings] {
    background-image: url("../assets/ui/settings_screen.png");
}

[data-screen=help] h2,
[data-screen=settings] h2 {
    display: none;
}

[data-screen=help] [data-action=back],
[data-screen=settings] [data-action=back] {
    margin-top: 65px !important;
}

[data-screen=help] [data-content=help] {
    height: 100%;
    align-content: center;
}

[data-screen=help] p {
    background-image: url("../assets/ui/background.png");
}

[data-screen=settings] .row {
    height: 100%;
    max-width: 1060px;
    margin: 0 auto
}

/**
 * ===========================
 * Range Styling
 * ===========================
**/

input[type=range] {
    width: 80%;
    background-image: url(../assets/ui/slider.png);
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    color: #3c1f14;
}

input[type="range"]::-webkit-slider-thumb:hover,
input[type="range"]::-moz-range-thumb:hover {
    -webkit-appearance: none;
    color: #5f392b;
}

/* Use the background property to set a color for these */
input[type=range]:focus::-webkit-slider-runnable-track {}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type=range]::-webkit-slider-runnable-track {}

input[type=range]:focus::-ms-fill-upper {}

input[type=range]:focus::-ms-fill-lower {}

/******** Firefox ********/
input[type=range]::-moz-range-track {}

input[type=range]::-ms-fill-lower {}

input[type=range]::-ms-fill-upper {}