/**
 * ===========================
 * Main Menu Styling
 * ===========================
**/

/* Main Menu Styling */
[data-screen="main"] {
    /*background-image: url("../assets/ui/Fantasy_project/game/gui/skulls.png");*/
    background-image: url("../assets/ui/main_menu/main_menu_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Main Menu Buttons Styling */
[data-component="main-menu"] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

[data-screen="main"] button {
    background-color: transparent;
}

/*Start button*/
[data-screen="main"] button:nth-child(1) {
    background-image: url("../assets/ui/main_menu/buttons/start_idle.png");
    color: transparent;
    width: 383px;
    height: 93px;
}

[data-screen="main"] button:nth-child(1):hover {
    background-image: url("../assets/ui/main_menu/buttons/start_hover.png");
}

/*Load button*/
[data-screen="main"] button:nth-child(2) {
    background-image: url("../assets/ui/main_menu/buttons/load_idle.png");
    color: transparent;
    width: 245px;
    height: 53px;
}

[data-screen="main"] button:nth-child(2):hover {
    background-image: url("../assets/ui/main_menu/buttons/load_hover.png");
}

/*Settings button*/
[data-screen="main"] button:nth-child(3) {
    background-image: url("../assets/ui/main_menu/buttons/options_idle.png");
    color: transparent;
    width: 264px;
    height: 53px;
}

[data-screen="main"] button:nth-child(3):hover {
    background-image: url("../assets/ui/main_menu/buttons/options_hover.png");
}

/*Help button*/
[data-screen="main"] button:nth-child(4) {
    background-image: url("../assets/ui/main_menu/buttons/help_idle.png");
    color: transparent;
    width: 200px;
    height: 56px;
}

[data-screen="main"] button:nth-child(4):hover {
    background-image: url("../assets/ui/main_menu/buttons/help_hover.png");
}

/*Credits button*/
[data-screen="main"] button:nth-child(5) {
    background-image: url("../assets/ui/main_menu/buttons/about_idle.png");
    color: transparent;
    width: 264px;
    height: 50px;
}

[data-screen="main"] button:nth-child(5):hover {
    background-image: url("../assets/ui/main_menu/buttons/about_hover.png");
}